.catalog {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.catalog__pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.catalog__pagination-item {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 1vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.catalog__pagination-item:hover {
    cursor: pointer;
}

.catalog__pagination-item_active {
    background: rgb(125,153,244);
    background: radial-gradient(circle, rgba(125,153,244,1) 0%, rgba(229,148,233,1) 100%);
}
