#post {
    border: 0.5vh solid black;
    border-radius: 2vh;
    margin: 3vh auto;
    padding: 3vh;
    width: 70%;
}

.post_data {
    display: flex;
    column-gap: 5vh;
}

.post_user-id,
.post_id {
    font-size: 2vh;
}

.post_title {
    font-size: 4vh;
    margin: 2vh 0;
}

.post_content {
    font-size: 3vh;
}

.post_title::first-letter,
.post_content::first-letter {
    text-transform: uppercase;
}